.loginlogout{
  background-color: #800000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  -ms-transform: translateY(-10%);
  transform: translateY(-10%);
  -ms-transform: translateX(180%);
  transform: translateX(180%);
}

.loginlogout2{
  background-color: #800000;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
